head,body{
  background-color:#F0ECB8;
}

h1{
  font-size: 75px;
  text-align: center;
  font-family:궁서;
}
ul,ol{
  font-size: 30px;
  width: 600px;
  text-align: center;
  border:solid black;
  margin-left:650px;

}
a{
  font-size: 40px;
  color: black;
  text-align: center;
  border: solid black;
  border-width: medium;
  width: 300px;
  margin-left: 900px;
  margin-top: 100px;
}
